body {
    margin: 0;
    padding: 0;
}

main {
    padding: 16px;
}

footer {
    padding: 24px 0px;
    font-size: 15px;
    background-color: #B4CF66;
}

img {
    height: 200px;
}

nav {
    border-bottom-width: 1px;
    border-color: black;
    padding: 16px;
}

.header-font-color {
    color: #146152
}


.header-color {
    background-color: lightblue;
    padding: 24px 0px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

a:link {
    text-decoration-line: none;
}

a:visited {
    color: #44803F;
}

.vegtaco-color {
    color: #44803F;
}


tr:nth-child(even) {
    background-color: lightgray;
}
